
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	color: #f4f4f4;
	background-color: #333;
	padding: 20px;
}

.App {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}

.Header {
	background: #333;
	color: #fff;
	padding: 20px 0;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: center;
	border-bottom: 5px solid #444;
}

h1, h2 {
	margin-bottom: 20px;
}

p {
	margin-bottom: 10px;
}

.SocialMedia{
	display: flex;
}

.icon_img {
	width: 50px;
	height: 50px;
	margin: 5px;
}

.Skills{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.SkillHeader{
	border-bottom: #444;
	border-width: 5px;
	border-bottom-style: solid;
	text-align: center;
}

.Skill {
	margin: 10px;
	padding: 10px;
}

/* Links */
.Links {
	display: flex;
	justify-content: space-around;
}

/* Style for the headers (About me, Work experience, */
h2 {
	margin-bottom: 30px;
	color: #eaeaea;
	font-size: 1.5em; 
}

/* Style for the text box */
.TextBox {
	background: #3a3a3a; 
	color: #fff;
	padding: 20px;
	margin: 10px 0 30px 0; 
	border-radius: 5px; 
}

/* Images in a text box */
.TextBox img {
	margin-right: 10px;
	vertical-align: middle;
}

.TextBox p {
	margin-bottom: 15px;
}

.TextBox ul {
	margin-left: 40px;
}

.breakPoint {
	border-bottom: 1px solid #fff;
	margin: 10px 0;
}